h1 {
  text-align: center;
  color: DodgerBlue;
}

p {
  font-size: 20px;
}

input {
  width: auto;
  color: Blue;
}

#add {
  color: Red;
  opacity: 2.0;
  border: none;
}

#hiddenWord {
  text-align: center;
  font-size: 50px;
}
